@import './../../scss/mixins';

.TotalAmount {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  height: 100%;
  background-color: var(--very-dark-cyan);
  border-radius: 15px;
  padding: 38px 22px 24px 24px;

  @include breakpoint(lg) {
    padding: 60px 40px 40px 40px;
  }

  .amounts {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 36px;
    color: var(--white);
    font-weight: 700;

    .person {
      display: block;
      margin-top: 5px;
      font-size: 14px;
      color: var(--dark-grayish-cyan);
    }

    .value {
      margin-left: auto;
      color: var(--strong-cyan);
      font-size: em(34);
      max-width: 162px;
      overflow-x: auto;
      overflow-y: hidden;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
        scrollbar-width: none;
      }

      @include breakpoint(md) {
        font-size: em(40);
        max-width: 172px;
      }
      @include breakpoint(lg) {
        font-size: em(48);
        max-width: 205px;
      }
    }
  }

  .reset-btn {
    margin-top: auto;
    text-transform: uppercase;
    font-size: em(22);
    font-weight: 700;
    height: 48px;
    background-color: var(--strong-cyan);
    color: var(--very-dark-cyan);
    border-radius: 6px;
    border: none;

    &:disabled {
      background-color: var(--very-dark-cyan-disabled);
      cursor: not-allowed;
    }

    &:hover:enabled {
      background-color: var(--light-strong-cyan);
    }
  }
}
