@import './scss/mixins';

.App {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  background-color: var(--light-grayish-cyan);

  @include breakpoint(sm) {
    height: 100vh;
  }

  input {
    font-size: em(24);
    font-weight: 700;
    color: var(--very-dark-cyan);
    text-align: right;
    width: 100%;
    height: 46px;
    border-radius: 6px;
    border: none;
    background-color: var(--second-grayish-cyan);
    background-repeat: no-repeat;
    background-position: 18px 15px;
    padding-left: 30px;
    padding-right: 20px;
  }

  input::placeholder {
    color: var(--dark-grayish-cyan);
  }

  button {
    cursor: pointer;
  }

  &-logo {
    margin: 50px 0 40px 0;
    pointer-events: none;
  }

  &-header {
    display: flex;
    justify-content: center;
  }

  &-container {
    display: flex;
    flex-flow: column wrap;
    margin: 0 auto;
    padding: 32px;
    border-radius: 30px 30px 0 0;
    background-color: var(--white);

    @include breakpoint(sm) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: 'inputs totals';
      gap: 0 32px;
      border-radius: 30px;
    }

    @include breakpoint(md) {
      max-width: 920px;
      max-height: 480px;
    }
  }

  &-inputs {
    @include breakpoint(sm) {
      grid-area: inputs;
      padding: 18px 0;
    }
  }

  &-totals {
    @include breakpoint(sm) {
      grid-area: totals;
    }
  }
}
